[Desktop Entry]
Version=1.0
Type=Link
Name=Examples
Comment=Examples for different file formats
URL=file:///usr/local/ICT-tb-resources/Examples/
Icon=folder
