[Desktop Entry]
Version=1.0
Type=Link
Name=Anim_Samples
Comment=Sample animation videos
URL=file:///usr/local/ICT-tb-resources/Anim_Samples/
Icon=folder
